{% extends 'user/layout/Master.html' %}
{% block title %}Contact Us{% endblock %}
{% block main %}
 <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    {% if user.is_authenticated %}
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>Contact</h4>
                        <div class="line"></div>
                    </div>

                    <p>Put your feed back on our feedback section and we will work on it and send you mail.</p>

                    <!-- Contact Form Area -->
                    <div class="contact-form-area mt-50">
                        <form action="/user/contact_detail" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" name="name" value="{{user.first_name}}" readonly="">
                            </div>
                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" name="email" value="{{user.email}}" readonly="">
                            </div>
                            <div class="form-group">
                                <label>Feedback*</label>
                                <textarea class="form-control" name="feedback_data" cols="30" rows="10"></textarea>
                            </div>
                            <button class="btn vizew-btn mt-30" type="submit">Send Now</button>
                        </form>
                        <label>{{Done}}</label>
                    </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <div class="sidebar-area">
                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget newsletter-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Newsletter</h4>
                                <div class="line"></div>
                            </div>
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <!-- Newsletter Form -->
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                                    <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget add-widget">{% for x in ex_user_detail %}
                            <a href="/user/profile"><img src="/media/{{x.image}}"></a>
                        {%  endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    {% else %}    
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>Contact</h4>
                        <div class="line"></div>
                    </div>

                    <p>Put your feed back on our feedback section and we will work on it and send you mail.</p>

                    <!-- Contact Form Area -->
                    <div class="contact-form-area mt-50">
                        <form action="/user/contact_detail" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Feedback*</label>
                                <textarea class="form-control" name="feedback_data" cols="30" rows="10"></textarea>
                            </div>
                            <button class="btn vizew-btn mt-30" type="submit">Send Now</button>
                        </form>
                        <label>{{Done}}</label>
                    </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <div class="sidebar-area">
                        <a href="/user/login" data-toggle="modal" data-target="#myModal"><img src="{{x.image}}" alt="Login"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
    {% endif %}
{% endblock %}