{% extends 'admin1/layout/Master.html' %}
{% load static %}
{% block title %}Admin Profile page{% endblock %}
{% block main %}
{% if edit_data %}
<div class="content-wrapper" style="overflow: auto;"><!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">       
            <center><h1 class="m-0 text-dark">Edit Your Category Name</h1></center><hr>
          {% for x in edit_data %}
            <form action="/admin1/edit_data_stored/{{x.id}}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <label>Category Name:</label>               
                <input type="text" name="category_name_edit" value="{{x.category_name}}" class="form-control" placeholder="Enter your category name"><br>             
        <button type="submit" class="btn btn-primary" href="/news/edit_data_stored/{{x.id}}">Submit</button>
        {% endfor %}
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="content-wrapper">
  <div class="content-header">
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Content Categories</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin1">Home</a></li>
            <li class="breadcrumb-item active">Content category</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Categorie
  </button>
  <!-- The Modal -->  
      <table class="table table-bordered">
        <caption>table title and/or explanatory text</caption>
        <thead>
          <tr>
            <th>Id</th>
            <th>Categories</th>
            <th>Action</th><!--delete button -->
          </tr>
        </thead>
        <tbody>
          {% for x in data_cat %}
          <tr>
            <td>{{x.id}}</td>
            <td>{{x.category_name}}</td>
            <td>
              <a href="/admin1/edit_data/{{x.id}}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a href="/admin1/delete_data/{{x.id}}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Small boxes (Stat box) --> 
      <!-- Small boxes (Stat box) --> 
      <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">                    
          <h4 class="modal-title">Categorie Name</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/admin1/contentCategory" method="POST">{% csrf_token %}
          <input type="text" class="form-control" name="category_name">          
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">
          <input type="submit" class="btn btn-success">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>      
        </form>    
  </div>
</div>
</div>
</div>
</div>
</section>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endif %}
{% endblock %}